pytest==7.1.2
mlflow
pandas4
scikit-learn
matplotlib
numpy
joblib
azure-ai-ml
azureml-defaults
azureml-core
azureml-defaults
azureml-mlflow
azure-ai-ml>=1.0.0,<2.0
azure-identity>=1.15.0,<2.0
matplotlib>=3.8,<3.10
seaborn>=0.13,<0.14
scipy>=1.11,<2.0