name: Running the model

on:
  push:        # runs whenever you push
    branches:
      - "**"   # all branches

permissions:
  id-token: write
  contents: read

jobs:
  evaluate_model:
    name: evaluate model
    runs-on: ubuntu-latest
    steps:

      - name: Run echo "Checking out the repository from ${{ github.repository }}."
        run: echo "Checking out the repository from ${{ github.repository }}."

      - name: Clone repository code
        uses: actions/checkout@v4

      - name: Login into Azure test
        uses: azure/login@v2
        with:
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          environment: azurecloud
          allow-no-subscriptions: false
          audience: api://AzureADTokenExchange

      - name: Test azure login my getting details
        run: az account show

      - name: List files
        run: ls -la

      - name: Configure defaults
        env:
#          AZURE_RESOURCE_GROUP: ${{ vars.AZURE_RESOURCE_GROUP }}
#          AZURE_ML_WORKSPACE: ${{ vars.AZURE_ML_WORKSPACE }}
          AZURE_RESOURCE_GROUP: com774_resource
          AZURE_ML_WORKSPACE: com774_workspace
        run: |
            az configure --defaults group="$AZURE_RESOURCE_GROUP" workspace="$AZURE_ML_WORKSPACE"

      - name: yaml_validate
        run: |
          az ml job validate --file src/evaluate/win_quality_pipeline.yaml
        









