name: Running the model

on:
  push:        # runs whenever you push
    branches:
      - "**"   # all branches

permissions:
  id-token: write
  contents: read

image: mcr.microsoft.com/azure-cli:latest

jobs:
  evaluate_model:
    name: evaluate model
    runs-on: ubuntu-latest
    steps:

      - name: Run echo "Checking out the repository from ${{ github.repository }}."
        run: echo "Checking out the repository from ${{ github.repository }}."

      - name: Clone repository code
        uses: actions/checkout@v4

      - name: Login into Azure test
        uses: azure/login@v2
        with:
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          environment: azurecloud
          allow-no-subscriptions: false
          audience: api://AzureADTokenExchange

      - name: Test azure login my getting details
        run: az account show

      - name: List files
        run: ls -la

      - name: aml_validate
        run:
            - az ml component create --file src/components/dataprep/component.yaml
            - az ml component create --file src/components/training/component.yaml
            - az ml component create --file src/components/evaluate/component.yaml
            - az ml job validate --file src/pipelines/win_quality_pipeline.yaml









