name: Running the model

on:
  push:        # runs whenever you push
    branches:
      - "**"   # all branches

permissions:
  id-token: write
  contents: read
env:
  AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  AZUREML_WORKSPACE_NAME: ${{ secrets.AZUREML_WORKSPACE_NAME }}
  AZURE_RESOURCE_GROUP: com774_resource
  AZURE_ML_WORKSPACE: com774_workspace

jobs:
  evaluate_model:
    name: evaluate model
    runs-on: ubuntu-latest
    steps:

      - name: Clone repository code
        uses: actions/checkout@v4

      - name: List files
        run: ls -la

      - name: Login into Azure test
        uses: azure/login@v2
        with:
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          environment: azurecloud
          allow-no-subscriptions: false
          audience: api://AzureADTokenExchange

      - name: Install/Update Azure ML CLI v2 extension
        run: |
          az extension add -n ml -y || az extension update -n ml

      - name: Configure defaults
        run: |
          az configure --defaults group="$AZURE_RESOURCE_GROUP" workspace="$AZUREML_WORKSPACE_NAME"
          az account show

      - name: Submit pipeline
        id: submit
        shell: bash
        run: |
          # Create the job; capture name (job id)
          JOB_NAME=$(az ml job create \
            -f evaluate/wine_quality_pipeline.yaml \
            --resource-group "$AZURE_RESOURCE_GROUP"  --workspace-name "$AZUREML_WORKSPACE_NAME" \
            --query name -o tsv)
          echo "job_name=$JOB_NAME" >> $GITHUB_OUTPUT
          echo "Submitted job: $JOB_NAME"


      - name: yaml_validate
        run: |
          az ml job validate --file src/evaluate/wine_quality_pipeline.yaml
        









