#name: Running the model with modfied code
#
#on:
#  push:
#    branches:
#      - "**"
#
#permissions:
#  id-token: write
#  contents: read
#
#env:
#  AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
#  AZURE_RESOURCE_GROUP: com774_resource
#  AZUREML_WORKSPACE_NAME: com774_workspace
#
#jobs:
#  evaluate_model:
#    name: Evaluate Model
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v4
#
#      - name: Azure login
#        uses: azure/login@v2
#        with:
#          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
#          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
#          client-id: ${{ secrets.AZURE_CLIENT_ID }}
#          audience: api://AzureADTokenExchange
#
#      - name: Install Azure ML CLI extension
#        run: az extension add -n ml -y || az extension update -n ml
#
#      - name: Configure Azure ML defaults
#        run: az configure --defaults group="$AZURE_RESOURCE_GROUP" workspace="$AZUREML_WORKSPACE_NAME"
#
#      - name: Validate pipeline
#        run: az ml job validate --file aml/wine_quality_pipeline.yaml
#
#      - name: Submit pipeline
#        id: submit
#        run: |
#          JOB_NAME=$(az ml job create -f aml/wine_quality_pipeline.yaml --query name -o tsv)
#          echo "job_name=$JOB_NAME" >> $GITHUB_OUTPUT
#          echo "Submitted job: $JOB_NAME"
#
#
#
#
#
#
#
#
#
#
#
