name: Unit Test and Integration tests

on:
  pull_request:
    branches: [ dev, main ]
  push:
    branches: [ dev, main ]

permissions:
  id-token: write
  contents: read

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install pytest pytest-cov numpy pandas scikit-learn

      - name: Run unit tests
        run: |
          pytest -q src/tests/TestWineQualityUnit.py

  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install pytest requests

      - name: Run Integration tests
        run: |
          pytest -q src/tests/TestWineQualityIntegration.py
#