name: Running the model

on:
  push:
    branches:
      - "**"

permissions:
  id-token: write
  contents: read

env:
  AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  AZURE_RESOURCE_GROUP: com774_resource
  AZUREML_WORKSPACE_NAME: com774_workspace
  ACR_NAME: com774dockerimage
  IMG_TAG: mljob:1.0.0


jobs:
  evaluate_model:
    name: Evaluate Model
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      # Install Miniconda and create the env from your conda.yml/environment.yml
      - name: Set up Conda and create environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
#          python-version: "3.10"
          activate-environment: com774_wine_quality_env        # or read from your yml's `name:`
          environment-file: environments/env/conda.yml            # <-- change to environment.yml if that's your file
          use-mamba: true                        # faster solves; optional
          miniforge-variant: Miniforge3          # optional: provides mamba by default

      - name: List Conda packages
        shell: bash -l {0}
        run: |
          conda info
          conda list

      - name: Azure login
        uses: azure/login@v2
        with:
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          audience: api://AzureADTokenExchange

      - name: Install Azure ML CLI extension
        run: az extension add -n ml -y || az extension update -n ml

      - name: Configure Azure ML defaults
        run: az configure --defaults group="$AZURE_RESOURCE_GROUP" workspace="$AZUREML_WORKSPACE_NAME"

      - name: Validate pipeline
        run: az ml job validate --file aml/wine_quality_pipeline.yaml

      - name: Creating environment for deploy
        run: az ml environment create --file environments/env.yml

      - name: Submit pipeline
        id: submit
        run: |
          JOB_NAME=$(az ml job create -f aml/wine_quality_pipeline.yaml --query name -o tsv)
          echo "job_name=$JOB_NAME" >> $GITHUB_OUTPUT
          echo "Submitted job: $JOB_NAME"

      - name: Creating docker environment for deploy
        run: |
          docker build -t $ACR_NAME.azurecr.io/$IMG_TAG
          docker push $ACR_NAME.azurecr.io/$IMG_TAG
          az acr show --name com774dockerimage --resource-group com774_resource -o table
          az acr build --registry $ACR_NAME --image $IMG_TAG .











