#
#$schema: https://azuremlschemas.azureedge.net/latest/commandJob.schema.json
#type: command
#name: smoke-command
#display_name: smoke-command
#description: "Fast smoke test to validate env, code upload, IO"
#experiment_name: smoke-tests
#
## Your tiny source folder (e.g., contains smoke.py)
#code: ./smoke_src
#
## A curated environment (quick to pull)
## Tip: you can also use azureml:<custom-env>:<version>
#environment: azureml://registries/azureml/environments/sklearn-1.0/versions/18
#
#compute: azureml:cpu-cluster-small   # small/cheap compute for smoke tests
#
#inputs:
#  msg:
#    type: literal
#    value: "hello from smoke test"
#
#outputs:
#  smoke_out:
#    type: uri_folder
#    mode: rw_mount  # fast; we're not generating much
#
#command: >-
#  python smoke.py
#  --msg "${{inputs.msg}}"
#  --out_dir "${{outputs.smoke_out}}"
